:root {
  --color-background: hsl(300, 5%, 96%);
  --color-purple-50: hsl(260, 100%, 95%);
  --color-purple-300: hsl(264, 82%, 80%);
  --color-purple-500: hsl(263, 55%, 52%);

  --color-white: hsl(0, 0%, 100%);
  --color-grey-100: hsl(214, 17%, 92%);
  --color-grey-200: hsl(0, 0%, 81%);
  --color-grey-400: hsl(224, 10%, 45%);
  --color-grey-500: hsl(217, 19%, 35%);
  --color-dark-blue: hsl(219, 29%, 14%);
  --color-black: hsl(0, 0%, 7%);

  --font-family: "Barlow Semi Condensed", sans-serif;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  --spacing-500: 2.5rem; /* 40px */
  --spacing-400: 2rem; /* 32px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-200: 1rem; /* 16px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-50: 0.25rem; /* 4px */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: 0.8125rem; /* 13px */
  font-weight: var(--font-weight-medium);
  background-color: var(--color-background);

  @media (min-width: 67.125rem) {
    min-height: 100vh;
    display: grid;
    padding: 0 3.75rem;
  }
}

main {
  display: grid;
  gap: var(--spacing-400);
  padding: 4.5625rem 2.1875rem;

  @media (min-width: 40.625rem) {
    grid-template-columns: repeat(2, 1fr);
    padding: 5.1875rem 3.75rem 7.0625rem;
  }

  @media (min-width: 67.125rem) {
    max-width: 69.625rem;
    margin-inline: auto;
    margin-block: auto;
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.card {
  display: grid;
  gap: var(--spacing-200);
  padding: var(--spacing-400);
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgb(72 85 106 / 55%);
}

.card__profile {
  display: flex;
  gap: 1.0625rem;
}

.card__profile-info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-50);
  line-height: 1.1;
}

.card__profile > img {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
}

.card__profile-title {
  font-size: 0.6875rem; /* 11px */
}

.card__title {
  font-size: 1.25rem; /* 20px */
  line-height: 1.2;
  font-weight: var(--font-weight-semibold);
}

.card__body {
  line-height: 1.4;
}

.card--daniel {
  background-color: var(--color-purple-500);
  color: var(--color-white);

  @media (min-width: 40.625rem) {
    grid-column: span 2;
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 30%;
  }

  @media (min-width: 67.125rem) {
    background-position: top right 14%;
  }
}

.card--daniel .card__profile-title,
.card--daniel .card__body {
  color: var(--color-purple-50);
}

.card--daniel img {
  border: 2px solid var(--color-purple-300);
}

.card--jonathan {
  background-color: var(--color-grey-500);
  color: var(--color-white);
}

.card--jonathan .card__profile-title {
  color: var(--color-grey-200);
}

.card--jonathan .card__body {
  color: var(--color-grey-100);
}

.card--jeanette {
  background-color: var(--color-white);
  color: var(--color-grey-500);
}

.card--jeanette .card__profile-title,
.card--jeanette .card__body {
  color: var(--color-grey-400);
}

.card--patrick {
  background-color: var(--color-dark-blue);
  color: var(--color-white);

  @media (min-width: 40.625rem) {
    grid-column: span 2;
  }
}

.card--patrick .card__profile-title {
  color: var(--color-grey-200);
}

.card--patrick .card__body {
  color: var(--color-grey-100);
}

.card--patrick img {
  border: 2px solid var(--color-purple-500);
}

.card--kira {
  background-color: var(--color-white);
  color: var(--color-grey-500);

  @media (min-width: 40.625rem) {
    grid-column: span 2;
  }

  @media (min-width: 67.125rem) {
    grid-column: 4;
    grid-row: 1 / span 2;
  }
}

.card--kira .card__profile-title {
  color: var(--color-grey-200);
}

.card--kira .card__body {
  color: var(--color-grey-400);
}
